.main-container .content-container .content-area {
  position: relative;
  padding-top: 18px;
  padding-left: 36px;

  &::ng-deep {
    h1:first-child {
      margin-top: 0;
    }
  }
}

.router-container {
  max-width: 740px;
}
