<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link"
        ><span class="title">Pentacle (Alpha)</span></a
      >
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area" #contentArea>
      <pentacle-pages-loading-progress></pentacle-pages-loading-progress>
      <div class="router-container"><router-outlet></router-outlet></div>
    </div>
    <clr-vertical-nav [clr-nav-level]="1">
      <a clrVerticalNavLink routerLink="/introduction" routerLinkActive="active"
        ><clr-icon clrVerticalNavIcon shape="map-marker"></clr-icon
        >Introduction</a
      >
      <a clrVerticalNavLink routerLink="/overview" routerLinkActive="active"
        ><clr-icon clrVerticalNavIcon shape="cloud"></clr-icon>Overview</a
      >
      <a clrVerticalNavLink routerLink="/blueprint" routerLinkActive="active"
        ><clr-icon clrVerticalNavIcon shape="map"></clr-icon>Blueprint</a
      >
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="flag" clrVerticalNavIcon></clr-icon>
        Principles
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="/principles/declare-what-instead-of-how"
            routerLinkActive="active"
          >
            Declare What Instead of How
          </a>
          <a
            clrVerticalNavLink
            routerLink="/principles/restrict-each-module-to-one-purpose"
            routerLinkActive="active"
          >
            Restrict Each Module to One Purpose
          </a>
          <a
            clrVerticalNavLink
            routerLink="/principles/think-of-everything-as-a-stream"
            routerLinkActive="active"
          >
            Think of Everything as a Stream
          </a>
          <a
            clrVerticalNavLink
            routerLink="/principles/dont-store-what-you-can-derive"
            routerLinkActive="active"
          >
            Don't Store What You Can Derive
          </a>
          <a
            clrVerticalNavLink
            routerLink="/principles/flow-data-in-one-direction"
            routerLinkActive="active"
          >
            Flow Data in One Direction
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="blocks-group" clrVerticalNavIcon></clr-icon>
        Modules
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLink="/modules/store"
            routerLinkActive="active"
          >
            Store
          </a>
          <a
            clrVerticalNavLink
            routerLink="/modules/command"
            routerLinkActive="active"
          >
            Command
          </a>
          <a
            clrVerticalNavLink
            routerLink="/modules/query"
            routerLinkActive="active"
          >
            Query
          </a>
          <a
            clrVerticalNavLink
            routerLink="/modules/facade"
            routerLinkActive="active"
          >
            Facade
          </a>
          <a
            clrVerticalNavLink
            routerLink="/modules/proxy"
            routerLinkActive="active"
          >
            Proxy
          </a>
          <a
            clrVerticalNavLink
            routerLink="/modules/view"
            routerLinkActive="active"
          >
            View
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <a
        clrVerticalNavLink
        routerLink="/resources"
        routerLinkActive="active"
        [queryParamsHandling]="'preserve'"
      >
        <clr-icon clrVerticalNavIcon shape="library"></clr-icon>Resources</a
      >
      <a clrVerticalNavLink routerLink="/examples" routerLinkActive="active"
        ><clr-icon clrVerticalNavIcon shape="flask"></clr-icon>Examples</a
      >
    </clr-vertical-nav>
  </div>
</clr-main-container>
