<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/introduction']">Introduction</a></li>
      <li><a [routerLink]="['/overview']">Overview</a></li>
      <li>
        <a [routerLink]="['/layers']">Layers</a>
        <ul>
          <li><a [routerLink]="['/layers/presentation']">Presentation</a></li>
          <li><a [routerLink]="['/layers/containers']">Containers</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/resources']">Resources</a></li>
      <li><a [routerLink]="['/examples']">Examples</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content> <router-outlet></router-outlet> </mat-drawer-content>
</mat-drawer-container>
